<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cheese Off Main Screen</title>
    <link href='https://fonts.googleapis.com/css?family=Candal' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../../../libs/bootstrap-3.3.6-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../../app/resources/css/appstyle.css">

</head>
<body>

<header>
    <div class="logo col-sm-12">
        <a href="/" title="Return to the homepage" class="logo">
            <img src="../../resources/images/logo.png" alt="CheeseOff logo"/>
        </a>
    </div>

    <div id="whos-game-main">
        <h1>Who's Game</h1>
    </div>
</header>
<!--<div class="container-fluid container-padding"></div>-->
<form id="cheeseoff-players">

    <div class="row col-sm-12">
        <div class="col-sm-2 image-checkbox">
            <input type="checkbox" checked="checked" class="custom_image" value="1" id="CB1"/><label for='CB1'>&nbsp;</label>
        </div>
    <div id="CB1-playerInfo">
        <div class="col-sm-3">
            <div class="form-group">
                <input type="text" class="form-control" name="" id="player-1-field" placeholder="Player 1 Name"/>
            </div>
        </div>
        <div class="col-sm-4">
            <div>
                <label class="btn btn-primary male">
                    <input type="radio" name="options" autocomplete="off">Hunk!
                </label>
                <label class="btn btn-primary female">
                    <input type="radio" name="options" autocomplete="off">Babe!
                </label>
            </div>
        </div>
    </div>
</div>
    <div class="row col-sm-12">
        <div class="col-sm-2 image-checkbox">
            <input type="checkbox" checked="checked" class="custom_image" value="1" id="CB2" /><label for='CB2'>&nbsp;</label>
        </div>
        <div id="CB2-playerInfo">
            <div class="col-sm-3">
                <div class="form-group">
                    <!--<label class="sr-only" for="player-1-field">Full Name</label>-->
                    <input type="text" class="form-control" name="" id="player-2-field" placeholder="Player 2 Name"/>
                </div>
            </div>
            <div class="col-sm-4">
                <div>
                    <label class="btn btn-primary male">
                        <input type="radio" name="options" autocomplete="off">Hunk!
                    </label>
                    <label class="btn btn-primary female">
                        <input type="radio" name="options" autocomplete="off">Babe!
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="row col-sm-12">
        <div class="col-sm-2 image-checkbox">
            <input type="checkbox" class="custom_image" value="1" id="CB3" /><label for='CB3'>&nbsp;</label>
        </div>
        <div id="CB3-playerInfo">
            <div class="col-sm-3">
                <div class="form-group">
                    <!--<label class="sr-only" for="player-1-field">Full Name</label>-->
                    <input type="text" class="form-control" name="" id="player-3-field" placeholder="Player 3 Name"/>
                </div>
            </div>
            <div class="col-sm-4">
                <div>
                    <label class="btn btn-primary male">
                        <input type="radio" name="options" autocomplete="off">Hunk!
                    </label>
                    <label class="btn btn-primary female">
                        <input type="radio" name="options" autocomplete="off">Babe!
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="row col-sm-12">
        <div class="col-sm-2 image-checkbox">
            <input type="checkbox" class="custom_image" value="1" id="CB4" /><label for='CB4'>&nbsp;</label>
        </div>
        <div id="CB4-playerInfo">
            <div class="col-sm-3">
                <div class="form-group">
                    <!--<label class="sr-only" for="player-1-field">Full Name</label>-->
                    <input type="text" class="form-control" name="" id="player-4-field" placeholder="Player 4 Name"/>
                </div>
            </div>
            <div class="col-sm-4">
                <div>
                    <label class="btn btn-primary male">
                        <input type="radio" name="options" autocomplete="off">Hunk!
                    </label>
                    <label class="btn btn-primary female">
                        <input type="radio" name="options" autocomplete="off">Babe!
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="row col-sm-12">
        <div class="col-sm-2 image-checkbox">
            <input type="checkbox" class="custom_image" value="1" id="CB5" /><label for='CB5'>&nbsp;</label>
        </div>
        <div id="CB5-playerInfo">
            <div class="col-sm-3">
                <div class="form-group">
                    <!--<label class="sr-only" for="player-1-field">Full Name</label>-->
                    <input type="text" class="form-control" name="" id="player-5-field" placeholder="Player 5 Name"/>
                </div>
            </div>
            <div class="col-sm-4">
                <div>
                    <label class="btn btn-primary male">
                        <input type="radio" name="options" id="male" autocomplete="off">Hunk!
                    </label>
                    <label class="btn btn-primary female">
                        <input type="radio" name="options" id="female" autocomplete="off">Babe!
                    </label>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="submit-btn cheeseoff-btn col-sm-2 col-sm-offset-4">
    <button type="button" class="btn btn-danger danger-btn">Cheese Off!</button>
</div>
<script src="../../../libs/jquery/jquery-2.2.4.js"></script>
<script src="../../../libs/bootstrap-3.3.6-dist/js/bootstrap.js"></script>
<script src="../../resources/script/app.js"></script>

</body>
</html>