<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link href='https://fonts.googleapis.com/css?family=Candal' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../../../libs/bootstrap-3.3.6-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../../app/resources/css/appstyle.css">
    <script src="../../../libs/jquery/jquery-2.2.4.js"></script>
    <script src="../../../libs/bootstrap-3.3.6-dist/js/bootstrap.js"></script>
    <script src="../../resources/script/app.js"></script>
</head>
<body>
<header>
    <div class="logo col-sm-12">
        <a href="/" title="Return to the homepage" class="logo">
            <img src="../../resources/images/logo.png" alt="CheeseOff logo"/>
        </a>
    </div>

    <div id="whos-game">
        <h1>Who's Game</h1>
    </div>
</header>
<form id="cheeseoff-players">
    <div id="player-one">
        <span><label class="checkbox-inline"><input type="checkbox" value=""></label></span>
        <div class="container-fluid container-padding">
            <div class="row">
                <div class="col-sm-9 col-sm-offset-1">
                    <div class="form-group">
                        <label class="sr-only" for="player-1-field">Full Name</label>
                        <input type="text" class="form-control" name="" id="player-1-field" placeholder="Player 1 Name"/>
                    </div>
                </div>
                  <span class="male-icon"></span>
                  <span class="female-icon"></span>
            </div>
        </div>
     </div>

    <div id="player-two">
        <span><label class="checkbox-inline"><input type="checkbox" value=""></label></span>
        <div class="container-fluid container-padding">
            <div class="row">
                <div class="col-sm-9 col-sm-offset-1">
                    <div class="form-group">
                        <label class="sr-only" for="player-2-field">Full Name</label>
                        <input type="text" class="form-control" name="" id="player-2-field" placeholder="Player 2 Name"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="player-three">
        <span><label class="checkbox-inline"><input type="checkbox" value=""></label></span>
        <div class="container-fluid container-padding">
            <div class="row">
                <div class="col-sm-9 col-sm-offset-1">
                    <div class="form-group">
                        <label class="sr-only" for="player-3-field">Full Name</label>
                        <input type="text" class="form-control" name="" id="player-3-field" placeholder="Player 3 Name"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="player-four">
        <span><label class="checkbox-inline"><input type="checkbox" value=""></label></span>
        <div class="container-fluid container-padding">
            <div class="row">
                <div class="col-sm-9 col-sm-offset-1">
                    <div class="form-group">
                        <label class="sr-only" for="player-4-field">Full Name</label>
                        <input type="text" class="form-control" name="" id="player-4-field" placeholder="Player 4 Name"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="player-five">
        <span><label class="checkbox-inline"><input type="checkbox" value=""></label></span>
        <div class="container-fluid container-padding">
            <div class="row">
                <div class="col-sm-9 col-sm-offset-1">
                    <div class="form-group">
                        <label class="sr-only" for="player-5-field">Full Name</label>
                        <input type="text" class="form-control" name="" id="player-5-field" placeholder="Player 5 Name"/>
                    </div>
                </div>
            </div>
        </div>
     </div>
</form>


</body>


</html>