<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cheese Off Game Screen</title>
    <link href='https://fonts.googleapis.com/css?family=Candal' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../../../libs/bootstrap-3.3.6-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../../app/resources/css/appstyle.css">
    <script src="../../../libs/jquery/jquery-2.2.4.js"></script>
    <script src="../../../libs/bootstrap-3.3.6-dist/js/bootstrap.js"></script>
    <script src="../../resources/script/app.js"></script>
    <link rel="stylesheet" href="../../../libs/font-awesome-4.6.3/css/font-awesome.min.css">
    <!--<script src="https://apis.google.com/js/client.js?onload=init"></script>-->
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">-->
    <!--<script src="http://www.google.com/uds/api?file=uds.js&v=1.0"-->
            <!--type="text/javascript"></script>-->
    <!--<link href="http://www.google.com/uds/css/gsearch.css"-->
          <!--rel="stylesheet" type="text/css"/>-->
    <!--<link href="http://www.google.com/uds/solutions/videobar/gsvideobar.css"-->
          <!--rel="stylesheet" type="text/css"/>-->
</head>
<body>
<div class="row">
    <div class="logo col-sm-12">
        <a href="/" title="Return to the homepage" class="logo">
            <img src="../../resources/images/logo.png" alt="CheeseOff logo"/>
        </a>
    </div>
</div>

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <p id="whos-game">Player 1: Count Drunkula</p>
        </div>
    </div>
</header>
<div class="row">
    <iframe class="col-sm-10 col-sm-offset-1" width="720" height="405" src="https://www.youtube.com/embed/?listType=playlist&list=PLTy8VFwSgn6lBpbcBUOWUrTi-yxu0PbbL" frameborder="0" allowfullscreen>
    </iframe>
</div>
        <div class="col-sm-12">
            <p class="next-up">Next Up</p>
        </div>
        <div class="col-sm-12">
            <p class="player-name hunk-player">Chris Odum</p>
        </div>

<div class="stars col-sm-12 star-system tex">
    <form action="">
        <input class="star star-5" id="star-5" type="radio" name="star"/>
        <label class="star star-5" for="star-5"></label>
        <input class="star star-4" id="star-4" type="radio" name="star"/>
        <label class="star star-4" for="star-4"></label>
        <input class="star star-3" id="star-3" type="radio" name="star"/>
        <label class="star star-3" for="star-3"></label>
        <input class="star star-2" id="star-2" type="radio" name="star"/>
        <label class="star star-2" for="star-2"></label>
        <input class="star star-1" id="star-1" type="radio" name="star"/>
        <label class="star star-1" for="star-1"></label>
    </form>
</div>

<div class="col-sm-12">
    <p class="next-up">Player 3</p>
</div>
<div class="col-sm-12">
    <p class="player-name hunk-player">Gomez Adams</p>
</div>

<div class="stars col-sm-12 star-system">
    <form action="">
        <input class="star star-5" id="star-2.5" type="radio" name="star"/>
        <label class="star star-5" for="star-2.5"></label>
        <input class="star star-4" id="star-2.4" type="radio" name="star"/>
        <label class="star star-4" for="star-2.4"></label>
        <input class="star star-3" id="star-2.3" type="radio" name="star"/>
        <label class="star star-3" for="star-2.3"></label>
        <input class="star star-2" id="star-2.2" type="radio" name="star"/>
        <label class="star star-2" for="star-2.2"></label>
        <input class="star star-1" id="star-2.1" type="radio" name="star"/>
        <label class="star star-1" for="star-2.1"></label>
    </form>
</div>

<div class="col-sm-12">
    <p class="next-up">Player 4</p>
</div>
<div class="col-sm-12">
    <p class="player-name hunk-player">The Dude</p>
</div>

<div class="stars col-sm-12 star-system">
    <form action="">
        <input class="star star-5" id="star-3.5" type="radio" name="star"/>
        <label class="star star-5" for="star-3.5"></label>
        <input class="star star-4" id="star-3.4" type="radio" name="star"/>
        <label class="star star-4" for="star-3.4"></label>
        <input class="star star-3" id="star-3.3" type="radio" name="star"/>
        <label class="star star-3" for="star-3.3"></label>
        <input class="star star-2" id="star-3.2" type="radio" name="star"/>
        <label class="star star-2" for="star-3.2"></label>
        <input class="star star-1" id="star-3.1" type="radio" name="star"/>
        <label class="star star-1" for="star-3.1"></label>
    </form>
</div>

<div class="col-sm-12">
    <p class="next-up">Player 5</p>
</div>
<div class="col-sm-12">
    <p class="player-name babe-player">Molly Ringwald</p>
</div>

<div class="stars col-sm-12 star-system">
    <form action="">
        <input class="star star-5" id="star-4.5" type="radio" name="star"/>
        <label class="star star-5" for="star-4.5"></label>
        <input class="star star-4" id="star-4.4" type="radio" name="star"/>
        <label class="star star-4" for="star-4.4"></label>
        <input class="star star-3" id="star-4.3" type="radio" name="star"/>
        <label class="star star-3" for="star-4.3"></label>
        <input class="star star-2" id="star-4.2" type="radio" name="star"/>
        <label class="star star-2" for="star-4.2"></label>
        <input class="star star-1" id="star-4.1" type="radio" name="star"/>
        <label class="star star-1" for="star-4.1"></label>
    </form>
</div>
<div class="row">
    <div class="cheesoff-score col-sm-12">
        <input type="image" name="submit" src="../../resources/images/submit.png" alt="Submit"/>
    </div>
</div>
</body>
</html>